# Copy to values.yaml and replace the node and storage settings for this cluster.
alumet-relay-client:
  hostPID: true
  nodeSelector:
    eaer.alumet/enabled: "true"
  securityContext:
    privileged: true
  plugins:
    k8s: {enable: true, poll_interval: 1s}
    procfs: {enable: true}
    rapl: {enable: true, poll_interval: 1s, flush_interval: 5s}
    energyAttribution: {enable: true}
    relay_client: {buffer_timeout: 2s}

alumet-relay-server:
  nodeSelector:
    kubernetes.io/hostname: server2-labo
  plugins:
    influxdb:
      enable: true
      organization: influxdata
      bucket: default
      attributes_as: tag

influxdb2:
  enabled: true
  nodeSelector:
    kubernetes.io/hostname: server2-labo
  persistence:
    enabled: true
    storageClass: nfs-client
  adminUser:
    organization: influxdata
    bucket: default
    retention_policy: 7d
